<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="padding:0 0;margin: 0 0">
      <div class="iu-grid-container" style="margin-bottom:0">
          <div class="iu-grid-item-hero flex-row flex-row-wrap row-horz-center">
              <div class="iu-header">
              </div>
              <div class="col-top">
                  <div class="iu-title-lg" style="color:white">
                      我们一起旅行
                  </div>
                  <div class="iu-text-lg font-color-white" style="margin-top:0.5rem">
                      加入新旅程，发现不一样的世界
                  </div>
              </div>
          </div>
          <div class="iu-grid-carousel">
          </div> 
      </div>

      <div class="iu-grid-container bg-light" style="padding-top:50px;padding-bottom:50px">
          <div class="text-center iu-title-md font-color-grey" style="margin-bottom:62.5px">
              和新朋友一起探索世界
          </div>
          <div class="flex-row responsive-md flex-row-wrap row-horz-center">
              <div class="flex-col col-responsive-lg" style="background-color:white">
                  <div class="iu-grid-showcase-1">
                      <div class="title">
                          和凉小宝一起去
                      </div>
                      <div class="main"> 
                          西藏
                      </div>
                  </div>
              </div>
              <div class="flex-col col-fix-md">
                  <div class="iu-grid-showcase-2">
                      <div class="title">
                          和Michael一起去
                      </div>
                      <div class="main"> 
                          巴黎
                      </div>
                  </div>
              </div>
              <div class="flex-col col-fix-md">
                  <div class="iu-grid-showcase-3">
                      <div class="title">
                          和亦小彤一起去
                      </div>
                      <div class="main"> 
                          夏威夷
                      </div>
                  </div>
              </div>
          </div>
          <div class="flex-row responsive-md flex-row-wrap row-horz-center">
              <div class="flex-col col-responsive-md">
                  <div class="iu-grid-showcase-4">
                      <div class="title">
                          和林小E一起去
                      </div>
                      <div class="main"> 
                          台湾
                      </div>
                  </div>
              </div>
              <div class="flex-col col-fix-md">
                  <div class="iu-grid-showcase-5">
                      <div class="title">
                          和朱丽雪一起去
                      </div>
                      <div class="main"> 
                          曼谷
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="iu-grid-container">
          <div class="iu-grid-item-hero">
              <div class="iu-title-md" style="height: 20%;color:white;padding-top:50px">
                  我们在这里，期待您的新旅程
              </div>
              <div style="height:40%;text-align:center;width:100%">
                  <div class="iu-label-qr">
                  </div>
              </div>
              <div class="flex-row row-horz-around row-vert-bottom" style="height:20%">
                  <div class="iu-label-intro">
                      <div class="title">
                          <i class="fa fa-bolt"></i>
                          急速反馈
                      </div>
                      <div class="content">
                          </br>
                          立刻跟进你的结伴需求
                          </br>
                          24h一定有合适的伙伴
                      </div>
                  </div>
                  <div class="iu-label-intro">
                      <div class="title">
                          <i class="fa fa-globe"></i>
                          环球旅行
                      </div>
                      <div class="content">
                          </br>
                          哎哟为您搜索前往各地的旅游
                          </br>
                          更为您提供结伴后的旅游咨询
                      </div>
                  </div>
                  <div class="iu-label-intro">
                      <div class="title">
                          <i class="fa fa-check-circle"></i>
                          安全省心
                      </div>
                      <div class="content">
                          </br>
                          保证每个旅友真实可靠
                          </br>
                          在哎哟，放心去往全世界
                      </div>
                  </div>
              </div>
          </div>
          <div class="iu-grid-intro">
          </div>
      </div>

      <div class="iu-footer">
          深圳市哎哟科技开发有限公司 粤ICP备15058206号-1
         <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1255879178'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1255879178' type='text/javascript'%3E%3C/script%3E"));
         </script>
      </div>

  </body>
</html>
