<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>你是什么样的旅行者?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- Add your keywords and description here for SEO. -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>

    <!-- Uncomment this if you need apple touch icon. -->
    <!--
    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">
    -->

    <!-- Don't delete this. It's needed for development workflow. -->
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
<div class="loading-overlay">
    <img src="../img/loading.svg">
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-color:white">
      <div>
        这是封面
      </div>
    </div>
    <div class="swiper-slide slide-1">
        <div class="item-image animated" data-ani-name="slideInLeft" data-ani-duration="1s" data-ani-delay="0s"></div>
        <div class="quiz-container">
          <div class="title"></div>
          <form> 
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
          </form>
        </div>
    </div>
    <div class="swiper-slide slide-2">
        <div class="item-image animated" data-ani-name="bounceInDown" data-ani-duration="1s" data-ani-delay="0s"></div>
        <div class="quiz-container">
          <div class="title"></div>
            <form>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            </form>
        </div>
    </div>
    <div class="swiper-slide slide-3">
        <div class="item-image animated" data-ani-name="flipInX" data-ani-duration="1s" data-ani-delay="0s"></div>
        <div class="quiz-container">
          <div class="title"></div>
          <form> 
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
            <div class="quiz">
              <input type="radio"></input>
            </div>
          </form>
        </div>
    </div>
    <div class="swiper-slide" style="background-color:white">
      <div>
        这是结果页面
      </div>
    </div>
  </div>
</div>

<button class="up-arrow">
    <i class="fa fa-angle-double-up"></i>
</button>

<button class="btn-music">
    <i class="fa fa-music"></i>
</button>

<audio loop>
    <source src="../audio/background.mp3" type="audio/mpeg">
</audio>

<!-- Don't delete this. It's needed for development workflow. -->
<!-- inject:js -->
<!-- endinject -->

</body>

</html>
