
/* Font color */
.font-color-grey {
   color: $color-heavy; 
}
.font-color-white {
    color: white;
}

/* Font */
.iu-title-lg {
    font:normal normal bold 2rem STHeiti,SimHei,YouYuan;
}

.iu-title-md {
    font:normal normal bold 1.5rem STHeiti,SimHei,YouYuan;
}

.iu-title-sm {
    font:normal normal bold 1.2rem STHeiti,SimHei,YouYuan;
}

.iu-text-md {
    font:normal normal normal 0.7rem STHeiti,SimHei,YouYuan;
}
.iu-text-lg {
    font:normal normal normal 0.9rem STHeiti,SimHei,YouYuan;
}


